# DATAFRAME METOTLARI

In [16]:
import pandas as pd
import numpy as np

### TEMEL İŞLEMLER

In [17]:
# read_csv ile csv dosyamızı yükleyebiliriz ...
df = pd.read_csv("nba.csv")
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# head komutu ile ilk verileri görebiliriz ...

df.head() # içine parametre yazmazsak default olarak ilk 5 veriyi bize gösterir

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [19]:
df.head(15) # ilk 15 veri

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0

In [20]:
# tail ile son verileri görebiliriz ...

df.tail() # son 5 veri

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.tail(9) # son 9 veri

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# info ile sütun bilgilerini görebiliriz ...

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [23]:
# describe ile sayısal sütunların istatistiksel bilgilerini görebiliriz ...

df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [24]:
# index komutu ile dataframein indeksi hakkında bilgi sahibi olabiliriz ...

df.index

RangeIndex(start=0, stop=458, step=1)

In [25]:
# columns ile sütun adlarını görebiliriz ...

df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [26]:
# tek bir sütunun bilgilerini de görebiliriz

df["Name"]

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [27]:
# birden fazla sütun bilgiside görebiliriz ...

df[["Name","Team","Age"]]

              Name            Team   Age
0    Avery Bradley  Boston Celtics  25.0
1      Jae Crowder  Boston Celtics  25.0
2     John Holland  Boston Celtics  27.0
3      R.J. Hunter  Boston Celtics  22.0
4    Jonas Jerebko  Boston Celtics  29.0
..             ...             ...   ...
453   Shelvin Mack       Utah Jazz  26.0
454      Raul Neto       Utah Jazz  24.0
455   Tibor Pleiss       Utah Jazz  26.0
456    Jeff Withey       Utah Jazz  26.0
457            NaN             NaN   NaN

[458 rows x 3 columns]

In [28]:
# dataframelerde sütun eklemede yapabiliriz ...

df["Tax"] = df["Salary"] * 0.25 # Tax adlı bir sütun oluşturdum ve bu sütun Salary sütunun 0.25 ile çarpılmış halidir ...
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Tax
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,1932584.25
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,1699029.25
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,287160.00
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,1250000.00
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,608333.25
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,225000.00
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,725000.00
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,236819.00
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### İNDEX İŞLEMLERİ

In [30]:
# set_index ile sütunlardan birini index olarak atayabiliriz ...

df.set_index("Tax").head(20)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
Tax,,,,,,,,,
1932584.25,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1699029.25,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
NaN,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
287160.00,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
1250000.00,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
3000000.00,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
292740.00,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
541290.00,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
456090.00,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
857760.00,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
642315.00,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
1728217.25,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
856377.50,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
437460.00,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
654243.75,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
856377.50,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
211264.75,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
375000.00,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
333870.00,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
1575000.00,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0

In [31]:
# reset_index ile resetleme işlemi yapabiliriz ...

df.reset_index().head()

,index,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Tax
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,1932584.25
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,1699029.25
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,287160.00
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,1250000.00

In [32]:
# loc komutu ile satır ve sütünları ayarlayabiliriz ... 
 
df.loc[:,:]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Tax
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,1932584.25
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,1699029.25
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,287160.00
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,1250000.00
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,608333.25
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,225000.00
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,725000.00
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,236819.00
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# ilk 25 satır

df.loc[0:25]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Tax
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,1932584.25
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,1699029.25
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,287160.00
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,1250000.00
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0,3000000.00
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,292740.00
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,541290.00
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0,456090.00
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0,857760.00
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0,642315.00
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0,1728217.25
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0,856377.50
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0,437460.00
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0,654243.75
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0,856377.50
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0,211264.75
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0,375000.00
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0,333870.00
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0,1575000.00
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0,399960.00
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0,33553.75
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0,375000.00
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0,4922250.00
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0,285060.00
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0,236819.00

In [38]:
df.loc[:20 , ["Name","Team","Age"]] # ilk 20 satırın name , team ve age sütunlarını alır

                       Name            Team   Age
0             Avery Bradley  Boston Celtics  25.0
1               Jae Crowder  Boston Celtics  25.0
2              John Holland  Boston Celtics  27.0
3               R.J. Hunter  Boston Celtics  22.0
4             Jonas Jerebko  Boston Celtics  29.0
5              Amir Johnson  Boston Celtics  29.0
6             Jordan Mickey  Boston Celtics  21.0
7              Kelly Olynyk  Boston Celtics  25.0
8              Terry Rozier  Boston Celtics  22.0
9              Marcus Smart  Boston Celtics  22.0
10          Jared Sullinger  Boston Celtics  24.0
11            Isaiah Thomas  Boston Celtics  27.0
12              Evan Turner  Boston Celtics  27.0
13              James Young  Boston Celtics  20.0
14             Tyler Zeller  Boston Celtics  26.0
15         Bojan Bogdanovic   Brooklyn Nets  27.0
16             Markel Brown   Brooklyn Nets  24.0
17          Wayne Ellington   Brooklyn Nets  28.0
18  Rondae Hollis-Jefferson   Brooklyn Nets  21.0
19             Jarrett Jack   Brooklyn Nets  32.0
20           Sergey Karasev   Brooklyn Nets  22.0

In [40]:
df.loc[40:77 , ["Name","Salary"]] # 40 ile 77. satırlar arasındaki satırların name ve salary sütunlarını verir ...

                  Name      Salary
40  Kristaps Porzingis   4131720.0
41      Kevin Seraphin   2814000.0
42        Lance Thomas   1636842.0
43       Sasha Vujacic    947276.0
44    Derrick Williams   4000000.0
45         Tony Wroten    167406.0
46         Elton Brand         NaN
47       Isaiah Canaan    947276.0
48    Robert Covington   1000000.0
49         Joel Embiid   4626960.0
50        Jerami Grant    845059.0
51      Richaun Holmes   1074169.0
52         Carl Landry   6500000.0
53    Kendall Marshall   2144772.0
54      T.J. McConnell    525093.0
55        Nerlens Noel   3457800.0
56       Jahlil Okafor   4582680.0
57           Ish Smith    947276.0
58        Nik Stauskas   2869440.0
59     Hollis Thompson    947276.0
60      Christian Wood    525093.0
61     Bismack Biyombo   2814000.0
62       Bruno Caboclo   1524000.0
63     DeMarre Carroll  13600000.0
64       DeMar DeRozan  10050000.0
65       James Johnson   2500000.0
66         Cory Joseph   7000000.0
67          Kyle Lowry  12000000.0
68      Lucas Nogueira   1842000.0
69   Patrick Patterson   6268675.0
70       Norman Powell    650000.0
71       Terrence Ross   3553917.0
72          Luis Scola   2900000.0
73      Jason Thompson    245177.0
74   Jonas Valanciunas   4660482.0
75        Delon Wright   1509360.0
76     Leandro Barbosa   2500000.0
77     Harrison Barnes   3873398.0

In [41]:
# sadece sayısal olarak iloc ile istediğimiz satır ve sütunları çağırabiliriz ... 

df.iloc[:26 , 0:3] # ilk 26 satır ve 3.sütuna kadar olan bilgiler ...

                       Name            Team  Number
0             Avery Bradley  Boston Celtics     0.0
1               Jae Crowder  Boston Celtics    99.0
2              John Holland  Boston Celtics    30.0
3               R.J. Hunter  Boston Celtics    28.0
4             Jonas Jerebko  Boston Celtics     8.0
5              Amir Johnson  Boston Celtics    90.0
6             Jordan Mickey  Boston Celtics    55.0
7              Kelly Olynyk  Boston Celtics    41.0
8              Terry Rozier  Boston Celtics    12.0
9              Marcus Smart  Boston Celtics    36.0
10          Jared Sullinger  Boston Celtics     7.0
11            Isaiah Thomas  Boston Celtics     4.0
12              Evan Turner  Boston Celtics    11.0
13              James Young  Boston Celtics    13.0
14             Tyler Zeller  Boston Celtics    44.0
15         Bojan Bogdanovic   Brooklyn Nets    44.0
16             Markel Brown   Brooklyn Nets    22.0
17          Wayne Ellington   Brooklyn Nets    21.0
18  Rondae Hollis-Jefferson   Brooklyn Nets    24.0
19             Jarrett Jack   Brooklyn Nets     2.0
20           Sergey Karasev   Brooklyn Nets    10.0
21          Sean Kilpatrick   Brooklyn Nets     6.0
22             Shane Larkin   Brooklyn Nets     0.0
23              Brook Lopez   Brooklyn Nets    11.0
24         Chris McCullough   Brooklyn Nets     1.0
25              Willie Reed   Brooklyn Nets    33.0

In [42]:
df.iloc[214:263 , 2:6] # 214 ile 263.satılar ve 2 ile 6.sütun arası

     Number Position   Age Height
214     9.0       SG  25.0    6-4
215    11.0       PG  21.0    6-3
216    31.0       PF  25.0   6-11
217    17.0       SF  21.0    6-8
218     3.0       SG  28.0    6-5
219    22.0       SG  24.0    6-8
220    15.0        C  26.0   6-11
221     6.0       SF  32.0   6-10
222    77.0       PF  23.0    6-9
223    12.0       PF  21.0    6-8
224    18.0        C  27.0   6-11
225    21.0       PG  29.0    6-6
226    20.0       SG  19.0    6-6
227     1.0       SG  22.0    6-6
228     5.0       PG  31.0    6-0
229    21.0       SF  28.0    6-9
230     2.0       PG  31.0    6-1
231    34.0       PG  33.0    6-3
232    42.0       PF  33.0    6-9
233    23.0       SG  29.0    6-5
234    11.0        C  28.0    7-0
235    50.0        C  29.0    7-2
236    41.0       PF  37.0    7-0
237    27.0        C  32.0   6-11
238    25.0       SF  27.0   6-10
239     7.0       PF  24.0   6-11
240     3.0       PF  31.0   6-11
241     8.0       PG  31.0    6-3
242     1.0       SF  30.0    6-8
243     8.0       SF  27.0   6-10
244     2.0       PG  27.0    6-1
245    33.0       SG  30.0    6-9
246    15.0       PF  22.0   6-10
247     7.0       SF  22.0    6-9
248     0.0       PG  27.0    6-3
249    13.0       SG  26.0    6-5
250    35.0       PF  22.0    6-8
251    12.0        C  30.0   6-11
252     6.0       PF  24.0    6-9
253    32.0       SG  23.0    6-6
254    20.0       PF  25.0    7-0
255     5.0        C  30.0    6-9
256    31.0       SG  38.0    6-2
257     3.0       SG  21.0    6-5
258     9.0       SG  34.0    6-4
259     7.0       PF  37.0   6-10
260    22.0       SF  36.0    6-7
261    15.0       SG  39.0    6-6
262    11.0       PG  28.0    6-1

### KOŞUL İFADELERİ

In [43]:
# koşul ifadeleri genel olarak dataframemizin içine aşağıdaki gibi yazılır ... 

df[df["Age"] > 30] # yaşı 30 dan büyük oyuncular

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Tax
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0,1575000.0
31,Lou Amundson,New York Knicks,17.0,PF,33.0,6-9,220.0,UNLV,1635476.0,408869.0
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0,5718750.0
34,Jose Calderon,New York Knicks,3.0,PG,34.0,6-3,200.0,NaN,7402812.0,1850703.0
43,Sasha Vujacic,New York Knicks,18.0,SG,32.0,6-7,195.0,NaN,947276.0,236819.0
...,...,...,...,...,...,...,...,...,...,...
406,Tayshaun Prince,Minnesota Timberwolves,12.0,SF,36.0,6-9,212.0,Kentucky,947276.0,236819.0
413,Nick Collison,Oklahoma City Thunder,4.0,PF,35.0,6-10,255.0,Kansas,3750000.0,937500.0
415,Randy Foye,Oklahoma City Thunder,6.0,SG,32.0,6-4,213.0,Villanova,3135000.0,783750.0
420,Nazr Mohammed,Oklahoma City Thunder,13.0,C,38.0,6-10,250.0,Kentucky,222888.0,55722.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0,1254000.0

In [45]:
# en düşük ve en yüksek maaşı alan oyuncular

print(df[df["Salary"] == df["Salary"].min()]) # en düşük maaş alan oyuncu
print("---------------------------------------")
print(df[df["Salary"] == df["Salary"].max()]) # en yüksek maaş alan oyuncu

                      Name             Team  Number Position   Age Height  \
32  Thanasis Antetokounmpo  New York Knicks    43.0       SF  23.0    6-7

    Weight College   Salary     Tax
32   205.0     NaN  30888.0  7722.0
---------------------------------------
            Name                Team  Number Position   Age Height  Weight  \
109  Kobe Bryant  Los Angeles Lakers    24.0       SF  37.0    6-6   212.0

    College      Salary        Tax
109     NaN  25000000.0  6250000.0

In [52]:
df[(df["Team"] == "New York Knicks") & (df["Age"] < 30)] # takımı new york olup 30 yaşından küçük olan oyuncular

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Tax
32,Thanasis Antetokounmpo,New York Knicks,43.0,SF,23.0,6-7,205.0,NaN,30888.0,7722.00
35,Cleanthony Early,New York Knicks,11.0,SF,25.0,6-8,210.0,Wichita State,845059.0,211264.75
36,Langston Galloway,New York Knicks,2.0,SG,24.0,6-2,200.0,Saint Joseph's,845059.0,211264.75
37,Jerian Grant,New York Knicks,13.0,PG,23.0,6-4,195.0,Notre Dame,1572360.0,393090.00
38,Robin Lopez,New York Knicks,8.0,C,28.0,7-0,255.0,Stanford,12650000.0,3162500.00
39,Kyle O'Quinn,New York Knicks,9.0,PF,26.0,6-10,250.0,Norfolk State,3750000.0,937500.00
40,Kristaps Porzingis,New York Knicks,6.0,PF,20.0,7-3,240.0,NaN,4131720.0,1032930.00
41,Kevin Seraphin,New York Knicks,1.0,C,26.0,6-10,278.0,NaN,2814000.0,703500.00
42,Lance Thomas,New York Knicks,42.0,SF,28.0,6-8,235.0,Duke,1636842.0,409210.50
44,Derrick Williams,New York Knicks,23.0,PF,25.0,6-8,240.0,Arizona,4000000.0,1000000.00
45,Tony Wroten,New York Knicks,5.0,SG,23.0,6-6,205.0,Washington,167406.0,41851.50

In [56]:
df[(df["Team"] == "Boston Celtics") | (df["Team"] == "Brooklyn Nets")] # takımı boston veya brooklyn olanlar

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Tax
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,1932584.25
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,1699029.25
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,287160.00
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,1250000.00
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0,3000000.00
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,292740.00
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,541290.00
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0,456090.00
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0,857760.00
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0,642315.00
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0,1728217.25
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0,856377.50
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0,437460.00
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0,654243.75
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0,856377.50
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0,211264.75
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0,375000.00
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0,333870.00
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0,1575000.00
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0,399960.00
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0,33553.75
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0,375000.00
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0,4922250.00
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0,285060.00
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0,236819.00
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0,245337.00
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0,236819.00
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0,236819.00
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0,2808988.75

In [58]:
df[df["Team"] != "Utah Jazz"].head(20) #takımı utah olmayan oyuncular

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Tax
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,1932584.25
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,1699029.25
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,287160.00
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,1250000.00
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0,3000000.00
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,292740.00
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,541290.00
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0,456090.00
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0,857760.00
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0,642315.00
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0,1728217.25
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0,856377.50
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0,437460.00
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0,654243.75
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0,856377.50
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0,211264.75
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0,375000.00
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0,333870.00
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0,1575000.00

In [72]:
a = ["Tyler"]
df["Name"].isin(a) # name kısmında tyler içeren oyuncular

0      False
1      False
2      False
3      False
4      False
       ...
453    False
454    False
455    False
456    False
457    False
Name: Name, Length: 458, dtype: bool